.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc
tsconfig.json
*.vsix
examples/**
eslint.config.js
node_modules/**
.github/**
esbuild.js
**/*.map
.eslintrc*
.editorconfig
tslint.json
**/*.ts
!out/**/*.js
